<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Instructor Manager</title>
</head>
<h1>Instructor Manage Home</h1>
<body style="margin: 0 auto;text-align: center;">
    <form method="post" action="/search-instructor">
        {% csrf_token %}
        Input the student name:
        <input type="text" name="name">
        <input type="submit" value="search">
        <a href="/add-instructor">
            <input type="button" value="添加"></a>
    </form>
    <table border="1" style="margin: 0 auto;text-align: center;">
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>dept_name</th>
            <th>salary</th>
        </tr> {% for item in instructors %} <tr>
            <td>{{item.ID}}</td>
            <td>{{item.name}}</td>
            <td>{{item.dept_name}}</td>
            <td>{{item.salary}}</td>
            <td> <a href="{% url 'modifyInstructor' item.ID  %}">修改</a></td>
            <td> <a href="{% url 'deleteInstructor' item.ID  %}">删除</a></td>
        </tr> {% endfor %}
    </table>
</body>

</html>